In [ ]:
# https://www.kaggle.com/c/new-york-city-taxi-fare-prediction/submissions
# /content/drive/My Drive/datasets/new_york_fare/new-york-city-taxi-fare-prediction.zip

In [ ]:
import csv
from datetime import datetime, timedelta
from io import StringIO
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import tensorflow as tf
from zipfile import ZipFile

In [ ]:
zip=ZipFile('/content/drive/My Drive/datasets/new_york_fare/new-york-city-taxi-fare-prediction.zip')
zip.namelist()

# lazy generator scans through the files
with zip.open('test.csv') as fin:
    total_lines = sum(1 for line in fin)
print(total_lines)
zip.close()

# train.csv # of lines 55423857
# test                 9915

9915

In [ ]:
zip=ZipFile('/content/drive/My Drive/datasets/new_york_fare/new-york-city-taxi-fare-prediction.zip')
zip.namelist()
print(dir(zip))
if '__iter__' in dir(zip):
  print('yee')
zip.close()

['NameToInfo', '_RealGetContents', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_allowZip64', '_comment', '_didModify', '_extract_member', '_filePassed', '_fileRefCnt', '_fpclose', '_lock', '_open_to_write', '_sanitize_windows_name', '_seekable', '_windows_illegal_name_trans_table', '_write_end_record', '_writecheck', '_writing', 'close', 'comment', 'compression', 'debug', 'extract', 'extractall', 'filelist', 'filename', 'fp', 'getinfo', 'infolist', 'mode', 'namelist', 'open', 'printdir', 'pwd', 'read', 'setpassword', 'start_dir', 'testzip', 'write', 'writestr']

In [ ]:
# https://nikgrozev.com/2015/06/16/fast-and-simple-sampling-in-pandas-when-loading-data-from-files/

zip = ZipFile('/content/drive/My Drive/datasets/new_york_fare/new-york-city-taxi-fare-prediction.zip', 'r')

with zip.open('train.csv') as rf:

  n = 10000

  # Count the lines or use an upper bound
  num_lines = 55423857

  # The row indices to skip - make sure 0 is not included to keep the header!
  skip_idx = [x for x in range(1, num_lines) if x % n != 0]
  df = pd.read_csv(rf, skiprows=skip_idx)

zip.close()

In [ ]:
# zip = ZipFile('/content/drive/My Drive/datasets/new_york_fare/new-york-city-taxi-fare-prediction.zip', 'r')

# with zip.open('test.csv') as rf:
#   num_lines = 9915

#   # Sample size - in this case ~10%
#   size = int(num_lines / 10)

#   # The row indices to skip - make sure 0 is not included to keep the header!
#   skip_idx = random.sample(range(1, num_lines), num_lines - size)

#   # Read the data
#   data = pd.read_csv(rf, skiprows=skip_idx)
# zip.close()

In [ ]:
df.head()

                             key  ...  passenger_count
0    2011-07-05 06:48:44.0000002  ...                1
1    2011-07-17 14:27:35.0000002  ...                1
2  2009-10-28 13:04:00.000000109  ...                5
3  2010-02-17 09:55:00.000000206  ...                1
4    2010-01-13 08:13:14.0000007  ...                1

[5 rows x 8 columns]

In [ ]:
len(df)

5542

In [ ]:
df.info()

In [ ]:
df['key'] = pd.to_datetime(df['key'], utc=True)

In [ ]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_datetime'] = df['pickup_datetime'] + timedelta(hours=8)

In [ ]:
df['distance'] = np.hypot(abs(df['pickup_longitude']-df['dropoff_longitude']) ,abs(df['pickup_latitude']-df['dropoff_latitude']) )

In [ ]:
df['displacement']  = abs(df['pickup_longitude']-df['dropoff_longitude']) + abs(df['pickup_latitude']-df['dropoff_latitude'])

In [ ]:
df['pickup_hour'] = [n.hour for n in df['pickup_datetime']]
df['pickup_day'] = [n.weekday() for n in df['pickup_datetime']]

In [ ]:
df.head()

                                  key  fare_amount  ... pickup_hour  pickup_day
0 2011-07-05 06:48:44.000000200+00:00         10.5  ...          14           1
1 2011-07-17 14:27:35.000000200+00:00          8.9  ...          22           6
2 2009-10-28 13:04:00.000000109+00:00          9.3  ...          21           2
3 2010-02-17 09:55:00.000000206+00:00         15.3  ...          17           2
4 2010-01-13 08:13:14.000000700+00:00         10.9  ...          16           2

[5 rows x 12 columns]

In [ ]:
max(df['key'])

Timestamp('2015-06-30 19:46:30.000000300+0000', tz='UTC')

In [ ]:
min(df['key'])

Timestamp('2009-01-01 18:32:28.000000300+0000', tz='UTC')